<% include header.ejs %>
<div class="container">
    <h2 class="text-center text-danger">Add New Photo</h2>
    <form class="add-contact-form" id="addForm" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="source" id="source" placeholder="Hyperlink to Photo">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mt-4">
                <p class="pic-links"></p>
            </div>
        </div>
    </form>
</div>
</div>
</body>

</html>