<% include header.ejs %>
<div class="container">
    <h2 class="text-center text-danger">Add New Contact</h2>
    <form class="add-contact-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="nameFirst" id="nameFirst" placeholder="First Name"
                    required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="nameLast" id="nameLast" placeholder="Last Name" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="nameMiddle" id="nameMiddle"
                    placeholder="Middle Name (Optional)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <input type="text" class="form-control" name="profession" id="profession" placeholder="Profession"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="numPhone" id="numPhone" placeholder="Phone Number"
                    required>
            </div>
            <div class="form-group col-md">
                <input type="text" class="form-control" name="emailAddress" id="emailAddress"
                    placeholder="Email Address (Optional)" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <input type="text" class="form-control" name="streetAddress" id="streetAddress"
                    placeholder="Street Address" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="cityAddress" id="cityAddress"
                    placeholder="City (Optional)">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="stateAddress" id="stateAddress"
                    placeholder="State (Optional)">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="zipCode" id="zipCode" placeholder="ZIP (Optional)">
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-right">Add Contact</button>
    </form>
</div>
</div>
</body>

</html>